
/* ------------------------*/
/* ---------->>> Table of Contents <<<-----------*/
/* ------------------------*/

/* 1. Global
/* 2. Header
/* 3. Main
/*	3.1 Welcome
/*	3.2 Projects
/* 4. Footer
/* 5. Media Queries



/* ------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* ------------------------*/

a {
	text-decoration: none;
}

body {
	font-size: 62.5%;
}

header,
main,
footer {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: #2d3c49;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 5.5em;
	font-weight: lighter;
	margin-bottom: 12px;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
}

h3 {
	color: #7d97ad;
	font-size: 3.0em;
	font-weight: 300;
}

h4 {
	font-size: 3.5em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

img {
	width: 100%;
}

p {
	line-height: 1.5em;
}

.clearfix::after {
   clear: both;
   content: " ";
   display: block;
   height: 0;
}

/* ------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* ------------------------*/

header {
	border-bottom: 5px solid #7d97ad;
}

.main-nav {
	clear: both;
	padding: 50px 0 30px;
}

.logo {
	float: left;
}

.logo > img {
	height: 80px;
	width: auto;
}

.title {
	float: right;
	text-align: right;
}

/* ------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* ------------------------*/

/* ---------->>> Welcome <<<-----------*/

.welcome {
	background: url(../img/welcome.jpg) no-repeat fixed center;
	display: table;
	margin: 30px 0 50px;
	min-height: 300px;
	text-align: center;
	width: 100%;
}

.welcome-text {
	background: rgba(0, 0, 0, 0.65);
	display: table-cell;
	vertical-align: middle;
}

.welcome-text h3,
.welcome-text p {
	color: #fafafa;
	-webkit-text-shadow: 2px 2px 5px #000;
	-moz-text-shadow: 2px 2px 5px #000;
	-ms-text-shadow: 2px 2px 5px #000;
	-o-text-shadow: 2px 2px 5px #000;
	text-shadow:  2px 2px 5px #000;
}

.welcome-text h3 {
	font-size: 4.5em;
	font-weight: bolder;
}

.welcome-text p {
	font-size: 2.0em;
	margin-top: 10px;
}

/* ---------->>> Projects <<<-----------*/

.featured-work h3 {
	padding-left: 10px;
}

.project-tiles {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.project {
	margin: 2% 2% 0 0;
	width: 32%;
}

.project:nth-child(3) {
	margin-right: 0;
}

.project h4 {
	margin: 20px 0 8px;
}

.project p {
	font-size: 1.5em;
}

/* ------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* ------------------------*/

footer {
	border-top: 5px solid #7d97ad;
	font-size: 1.5em;
	margin-top: 50px;
}

.footer-nav {
	margin: 0 auto;
	text-align: center;
}

.footer-nav li {
	border-right: 1px solid #7d97ad;
	display: inline;
}

.footer-nav li:last-child {
	border-right: none;
}

.footer-nav li a {
	display: inline-block;
	padding: 15px 10px;
}

/* ------------------------*/
/* ---------->>> MEDIA QUERIES <<<-----------*/
/* ------------------------*/

@media screen and (max-width: 1220px) {
	.main-nav {
		margin: 0 2%;
	}

	.project {
		margin-right: 2%;
		width: 47%;
	}

	.project:nth-child(3) {
		margin-right: 2%;
	}

	.project:nth-child(odd) {
		margin-left: 2%;
	}
}

@media screen and (max-width: 756px) {
	h1 {
		font-size: 4em;
	}

	.logo > img {
		height: 60px;
	}

	.project {
		margin-left: 2%;
		width: 96%;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 2.5em;
	}
}
